<form onsubmit={{action "submitForm"}}>
  <div class="field">
    <label>Bike Brand</label>
    {{input type="text" placeholder="Bike Brand" value=brand}}
  </div>

  <div class="field">
    <label>Price</label>
    {{input type="text" placeholder="Put Your price here" value=pricePerHour}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>
