<div class="modal">
  <form class="modal-card" onsubmit={{action "saveTrip"}}>
    <h3 class="modal-heading">Add New Trip for {{model.bicycle.brand}} </h3>

    <div class="modal-content">
      <div class="field">
        <label>Trip Time(In hours):</label>
        {{input type="text" placeholder="Trip Time" value=model.trip.hours}}
      </div>
      <div class="field">
        <label>Rent point:</label>
        {{input type="text" placeholder="Rent point" value=model.trip.point}}
      </div>
    </div>

    <div class="modal-footer">
      {{#link-to "bicycle.detail" model.bicycle.id class="btn-clear"}}Cancel{{/link-to}}
      <button type="submit" class="btn-submit">Submit</button>
    </div>
  </form>
</div>

