<div class="welcome-page">
  <img src="/Bike-rental.png" alt="Welcome">

  <h2>Get your Unique Experience</h2>
  <hr>
  <h3>This is the place where you can rent a decent bicycle on cheap price</h3>
</div>